body {
   background-color: white;
   font-family: 'Roboto', sans-serif;
}

header {
   background-color:#EC362D;
   width: 100vw;
   height: 69px;
   text-align: center;
   padding: 13px;
   box-sizing: border-box;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
}

h1 {
   color: white;
   font-size: 37px;
   font-weight: 700;
}

main {
   margin-top:69px;
   transition: .4s;
}



.tela-inicial {
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-sizing: border-box;
   width:100%;
   padding-bottom:10px;
}

.your-quizzes{
   width: 80vw;
   height: 181px;
   margin: 7vh auto;
   display: flex;
   flex-direction: column;
   align-items: left;
   margin-bottom:48px;
}
.title{
   display:flex;
   align-items: center;
}

.title p{
   width: 158px;
   height: 23px;
   font-weight: 700;
   font-size: 20px;
   display: flex;
   color: #000000;
}
.title div{
   width: 31px;
   height: 30px;
   background: #EC362D;
   border-radius: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size:30px;
   color:white;
}
.user-quizzes{
   width: 80%;
   height: 181px;
   margin: 7vh auto;
   background: transparent;
   border: 1px dashed #D5D5D5;
   box-sizing: border-box;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom:77px;
}

.create-your-quizz p{
   width: 250px;
   height: 107px;
   font-weight: 400;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: #B9B9B9;
}

.create-your-quizz div{
   width: 136px;
   height: 40px;
   background: transparent;
   border: 1px dashed #EC362D;
   box-sizing: border-box;
   border-radius: 50px;
   margin: 0 auto 33px auto;
   color:#EC362D;
   text-align: center;
   font-weight: 400;
   font-size: 21px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.all-quizzes{
   width:80%;
   display: flex;
   flex-direction: column;
   justify-content: left;
}
.quizzes{
   display:flex;
   flex-wrap: wrap;
   width:100%;
   justify-content: space-between;
}
.quizzesUsers{
   display:flex;
   flex-wrap: wrap;
   width:100%;
}
.all-quizzes p{
   width: 158px;
   height: 23px;
   margin-top: 48px;
   font-weight: 700;
   font-size: 20px;
   display: flex;
   color: #000000;
   }

.quizz{
   position:relative;
   width: 340px;
   height: 181px;
   border-radius: 5px;
   margin-top:12px;
}
   
.quizz img {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
   position: absolute;
   width:100%;
   height:100%;
}
   
.quizz p{
   width: 301px;
   height: 54px;
   font-weight: 400;
   font-size: 19px;
   line-height: 22px;
   display: flex;
   align-items: center;
   color: #FFFFFF;
   position: absolute;
   bottom:0;
   left:18px;
}

.main-quizz {
   width: 100vw;
   margin-top: 69px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.titulo-quizz {
   width: 100vw;
   height: 17vh;
   position: relative;
   overflow-y: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.titulo-quizz img {
   width: 100%;
}


.titulo-quizz p {
   position: absolute;
   color: #FFFFFF;
   font-size: 39px;
   font-weight: 400;
   line-height: 46px;
}

.quadro-pergunta {
   display: grid;
   grid-template-columns:auto auto;
   gap:20px;
   margin:40px;
}

.pergunta-quizz {
   font-size: 23px;
   font-weight: 700;
   height: 100px;
   grid-column: 1/3;
   color: #FFFFFF;
   text-align: center;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
}

.primeira {
   background-color:#434CA0;
}

.segunda {
   background-color: #A0438D;
}


.opcao {
   font-size: 20px;
   color: #000000;
   font-weight: 700;
}

.opcao img {
   width: 100%;
}

.opcao p {
   margin-top: 7px;
}

.quadro-resposta {
   display: grid;
   grid-template-columns:330px 330px;
   gap: 20px;
   margin-bottom: 57px;
}

.resposta {
   background-color: #EC362D;
   height: 100px;
   grid-column: 1/3;
   font-size: 23px;
   font-weight: 700;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}

.resultado img {
   width: 100%;
}

.texto-resposta {
   font-weight: 700;
   padding: 5px;
}

.config{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 5%;
   transition: .4s;
}

.margin{
   margin-bottom: 25px;
}

.comeco{
   margin-bottom: 15px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 27px;
   display: flex;
   align-items: center;
   color: #000000;
   transition: .4s;
}

.engloba-pergunta{
   display: flex;
   justify-content: space-between;
   transition: .4s;
}

.pergunta{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 27px;
   display: flex;
   align-items: center;
   color: #000000;
   transition: .4s;
   margin-top: 10px;
   
}

.margin-bottom{
   margin-bottom: 15px;
   
}

.vector{
   width: 5%;
   height: 5%;
   margin-right: 10px;
   margin-top: 8px;
   cursor: pointer;
   transition: .4s
}

.caixa-perguntas{
   width: 45%;
   height: auto;
   background-color: #ffffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
   border-radius: 10px;
   padding: 1% 0.8% 1.4% 0.8%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   transition: .4s;
   box-sizing: border-box;
   margin-bottom: 15px;
}

.caixa-img-final{
   width: 50%;
   height: 50%;
   position: absolute;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url("../imagens/harry1.png");
}

.form-input{
   width: 100%;
   margin-bottom: 9px;
   opacity: 60%;
   transition: .4s;
   overflow: wrap;
}

.form-input-margin{
   width: 100%;
   margin-bottom: 35px;
   opacity: 60%;
   transition: .4s;
}

#input-informacao{
   width: 95.9%;
   height: 40px;
   border-radius: 10px;
   border: 2px solid lightgrey;
   outline: none;
   font-size: 19px;
   padding-left: 3%;
   transition: .4s;
}

#input-informacao-nivel{
   width: 95.9%;
   height: 177px;
   border-radius: 10px;
   border: 2px solid lightgrey;
   outline: none;
   font-size: 19px;
   padding-left: 3%;
   transition: .4s;
}

textarea::placeholder{
   font-family: 'Roboto', sans-serif;
}

.harry{
   width: 50%;
   height: auto;
   margin-left: 25%;
   border-radius: 20px;
}

.potterhead{
   position: absolute;
   top:84%;
   left:27%;
   color: #ffffff;
   font-size: 125%;
}

.botao-prosseguir{
   width: 30%;
   background-color: #EC362D;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.3% 0;
   border-radius: 15px;
   margin-top: 3.5%;
   cursor: pointer;
   transition: .4s;
   margin-bottom: 30px;
}

.botao-prosseguir-final{
   width: 30%;
   background-color: #EC362D;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.3% 0;
   border-radius: 15px;
   margin-top: 3.5%;
   cursor: pointer;
   transition: .4s;
   margin-bottom: 0px;
   position: absolute;
   top:53%;
}

.voltar-home{
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.3% 0;
   border-radius: 15px;
   margin-top: 0.5%;
   transition: .4s;
   margin-bottom: 0px;
   position: absolute;
   top:69%;
}

.prosseguir{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 130%;
   line-height: 25px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #FFF5F4;
   transition: .4s;
}

.prosseguir-home{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 130%;
   line-height: 25px;
   display: flex;
   align-items: center;
   text-align: center;
   color: grey;
   transition: .4s;
   cursor: pointer;
   position: absolute;
   
}

@media screen and (max-width: 1000px) {
   .titulo-quizz p {
     font-size: 25px;
   }
   .quadro-pergunta {
      margin: 18px
   }
   .pergunta {
      font-size: 19px;
   }
   .opcao {
      font-size: 13px;
   }
   .caixa-perguntas{
      width: 100%;
      padding: 2% 1% 3.4% 5%;
      
   }
   #input-informacao{
      width: 90%;
   }
   #input-informacao-nivel{
      width: 90%;
   }
   .botao-prosseguir{
      width: 80%;
   }
   .prosseguir{
      font-size: 110%
   }
   .comeco{
      font-size: 20px;
      margin-top: 32px;
   }
   .vector{
      margin-top: 10px;
      width: 7%;
      height: 7%;
   }
   .caixa-img-final{
      display:flex;
      align-items: center;
      justify-content: center;
      top:20%;
   }
   .harry{
      
      width:90%;
      margin-left:0;
   }
   .potterhead{
      left:12%
   }
   .voltar-home{
      top: 80%;
      width: 70%;
   }
   .botao-prosseguir-final{
      top:68%;
      width: 55%
   }
}

.hidden{
   display: none;
}
