body {
   background-color: #E5E5E5;
   font-family: 'Roboto', sans-serif;
}

header {
   background-color:#EC362D;
   width: 100vw;
   height: 69px;
   text-align: center;
   padding: 13px;
   box-sizing: border-box;
}

h1 {
   color: white;
   font-size: 37px;
   font-weight: 700;
}